/bin/
.venv/
.pytest_cache/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyz
*.pyzw
**/*.egg-info/
Cargo.lock
.benchmarks/
*.class
target/
jars/uacalc.jar
build/
dist/
tools/callgraph/
call_graph_analysis/
dependency_analysis/


# Added by cargo

/target
